/* This is a CSS file */
#dialog {
  text-align: center; 
  padding: 20%;
}

ons-list ons-list-item {
    list-style: none;
    cursor:pointer;
}

.close{
    display: none;
}

//gakushoku menu
